<?xml version="1.0" encoding="UTF-8"?>

<!--  마이바티스 3 Mapper DOCTYPE -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	    
<mapper namespace="pochacm.dao.face.CMDao">

	<select id="selectCntAllInvoice" parameterType="pochacm.dto.Paging" resultType="int">
				<choose>
					<when test='keyword != null and (category == "Serial")'>	
						SELECT count(*) FROM invoice i
						WHERE i.invoice_serial LIKE '%'||#{keyword}||'%'
					</when>
					<when test='keyword != null and (category == "Brand")'>	
						SELECT count(*) FROM invoice i, brand b, item it
						WHERE i.item_num = it.item_num (+)
                            AND it.brand_num = b.brand_num (+)
							AND b.brand_name LIKE '%'||#{keyword}||'%'
					</when>
					<when test='keyword != null and (category == "Supplier")'>	
						SELECT count(*) FROM invoice i, supplier sup, item it
						WHERE i.item_num = it.item_num (+)
                            AND it.supplier_num = sup.supplier_num (+)
							AND sup.supplier_name LIKE '%'||#{keyword}||'%'
					</when>
					<when test='keyword != null and (category == "Date")'>	
						SELECT count(*) FROM invoice i
						WHERE i.invoice_date LIKE '%'||#{keyword}||'%'
					</when>
					<when test='keyword != null and (category == "Writer")'>	
						SELECT count(*) FROM invoice i, user_info u
						WHERE i.user_num = u.user_num (+)
							AND u.user_name LIKE '%'||#{keyword}||'%'
					</when>
					<otherwise>
						SELECT count(*) FROM invoice i
					</otherwise>
				</choose>
	</select>
	
	<select id="selectAllInvoice" resultType="hashmap" parameterType="pochacm.dto.Paging">
				SELECT * FROM(
					SELECT rownum rnum, p.* FROM (
						SELECT
							iv.invoice_num, iv.invoice_date, u.user_name, iv.invoice_serial,
							sup.supplier_name, b.brand_name, (
								SELECT count(*) FROM item bb
								WHERE it.brand_num = bb.brand_num (+)
								) cnt, iite.iqt qqty
						FROM invoice iv, user_info u, brand b, supplier sup, item it, (
									SELECT ivc.invoice_serial, itm.brand_num, 
										ivc.invoice_date, itm.supplier_num, 
										SUM(ivc.qty * itm.item_order_unit_price) iqt
		                            FROM invoice ivc, item itm
		                            WHERE ivc.item_num = itm.item_num (+)
		                            GROUP BY ivc.invoice_serial, itm.brand_num, ivc.invoice_date, itm.supplier_num
		                            order by invoice_serial
								) iite
						WHERE iv.user_num = u.user_num (+)
							and iv.item_num = it.item_num (+)
							and it.brand_num = b.brand_num (+)
							and it.supplier_num = sup.supplier_num (+)
		                    and ( 
		                    	iv.invoice_serial = iite.invoice_serial
		                        and iv.invoice_date = iite.invoice_date
		                        and b.brand_num = iite.brand_num
		                        and it.supplier_num = iite.supplier_num
	                        )
				<choose>
					<when test='category == "Brand"'>
						AND b.brand_name LIKE '%' || #{keyword} || '%'
					</when>
					<when test='category == "Serial"'>
						AND iv.invoice_serial LIKE '%' || #{keyword} || '%'
					</when>
					<when test='category == "Supplier"'>
						AND sup.supplier_name LIKE '%' || #{keyword} || '%'
					</when>
					<when test='category == "Date"'>
						AND iv.invoice_date LIKE '%' || #{keyword} || '%'
					</when>
					<when test='category == "Writer"'>
						AND u.user_name LIKE '%' || #{keyword} || '%'
					</when>
				</choose>			
						ORDER BY invoice_date DESC
					) p
		    	) invc
				WHERE rnum BETWEEN #{startNo } AND #{endNo }
			
	</select>
	
	<select id="selectItemsByInvoiceNum" parameterType="pochacm.dto.Invoice" resultType="hashmap">
		SELECT * FROM (
			SELECT rownum rnum, inview.* FROM (
		      SELECT inv.invoice_num, inv.invoice_serial, inv.invoice_date, ui.user_num, b.brand_name, it.item_num,
		          inv.qty, it.item_name, it.item_order_unit_price, cate.item_cate_name, sup.supplier_name, ui.user_name,
		          ou.order_unit, (it.item_order_unit_price*inv.qty) total
		      FROM invoice inv, item it, item_category cate, supplier sup, order_unit ou, user_info ui, brand b
		      WHERE invoice_num = #{invoiceNum }
		          AND inv.item_num = it.item_num
		          AND it.item_cate_num = cate.item_cate_num (+)
		          AND it.supplier_num = sup.supplier_num (+)
		          AND inv.user_num = ui.user_num (+)
		          AND it.brand_num = b.brand_num (+)
		      ORDER BY b.brand_name
		    ) inview
		 )
	</select>
	
	<select id="getInvoiceByInvoiceNum" parameterType="pochacm.dto.Invoice" resultType="pochacm.dto.Invoice">
		SELECT * FROM invoice
		WHERE invoice_num = #{invoiceNum}
	</select>
	
	<select id="selectItemInfoByItemNum" parameterType="pochacm.dto.Item" resultType="hashmap">
		SELECT it.item_name, it.item_code, ic.item_cate_name, ou.order_unit, 
			it.item_order_unit_price, pu.primary_unit, pu.primary_unit_qty, su.secondary_unit,
			su.secondary_unit_qty, b.brand_name, sup.supplier_name, ui.user_name, 
			it.ITEM_EXPIRY_DATE, it.ITEM_TARGET_WASTE_PERCENT, it.ITEM_LAST_UPDATE
		FROM item it, primary_unit pu, secondary_unit su, order_unit ou, brand b, supplier sup, user_info ui, item_category ic
		WHERE it.item_num = #{itemNum }
			AND it.primary_unit_num = pu.primary_unit_num
			AND it.secondary_unit_num = su.secondary_unit_num
			AND it.order_unit_num = ou.order_unit_num
			AND it.brand_num = b.brand_num
			AND it.user_num = ui.user_num
			AND it.supplier_num = sup.supplier_num
			AND it.item_cate_num = ic.item_cate_num
	</select>
</mapper>