<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="pochacm.dao.face.ItemDao" >

	<select id="selectCntAllItems" parameterType="pochacm.dto.Items" resultType="int">
		SELECT count(*) cnt FROM items
	</select>
	
	<select id="selectAllItems" parameterType="pochacm.dto.Paging" resultType="hashmap">
		SELECT * FROM (
			SELECT ROWNUM rnum, sst.*
			FROM (SELECT it.*, br.brand_name, ct.cate_name, ui.user_name, ou.order_unit
				FROM items it, brand br,CATEGORY ct, user_info ui, order_unit ou
				WHERE it.brand_num = br.brand_num (+)
				    AND it.cate_num = ct.cate_num (+)
				    AND it.user_num = ui.user_num (+)
				    AND it.order_unit_num = ou.order_unit_num (+)
				) sst
			ORDER BY sst.item_name
			)
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
		ORDER BY rnum
	</select>

	<select id="selectItemInfoByItemNum" parameterType="pochacm.dto.Items" resultType="hashmap">
		SELECT it.*, b.*, ou.*, ic.*, ui.user_name
		FROM items it, order_unit ou, brand b, user_info ui, category ic
		WHERE it.item_num = #{itemNum }
			AND it.order_unit_num = ou.order_unit_num (+)
			AND it.brand_num = b.brand_num (+)
			AND it.user_num = ui.user_num (+)
			AND it.cate_num = ic.cate_num (+)
	</select>
	
	<select id="getOrderUnitList" resultType="hashmap">
		SELECT * FROM order_unit
		ORDER BY order_unit_num	
	</select>
	
	<select id="getPrimaryUnitList" resultType="hashmap">
		SELECT * FROM primary_unit
		ORDER BY primary_unit_num	
	</select>
	
	<select id="getSecondaryUnitList" resultType="hashmap">
		SELECT * FROM secondary_unit
		ORDER BY secondary_unit_num	
	</select>
	
	<select id="getItemCategoryList" resultType="hashmap">
		SELECT * FROM category
		ORDER BY cate_num
	</select>
	
		<update id="updateItemInformation" parameterType="pochacm.dto.Items">
		UPDATE items
		SET BRAND_NUM = #{brandNum},
			CATE_NUM = #{cateNum},
			ITEM_NAME = #{itemName},
			ITEM_CODE = #{itemCode},
			<choose>
				<when test="#{targetWastePercentage} != null and #{expiryDate} != null">
					TW_PERCENTAGE = #{targetWastePercentage},
					EXPIRY_DATE = #{expiryDate},
				</when>
			</choose>
			ORDER_UNIT_NUM = #{orderUnitNum},
			unit_price = #{unitPrice},
			LAST_UPDATE_DATE = SYSDATE,
			USER_NUM = #{userNum}
		WHERE ITEM_NUM = #{itemNum}
	</update>
	
	<select id="selectBrandNumByBrandName" parameterType="pochacm.dto.Brand" resultType="pochacm.dto.Brand">
		SELECT brand_num FROM brand
		WHERE brand_name = #{brandName}
	</select>

</mapper>