<?xml version="1.0" encoding="UTF-8"?>

<!--  마이바티스 3 Mapper DOCTYPE -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	    
<mapper namespace="pochacm.dao.face.PurchaseInvoiceDao">

	<select id="selectCntAllInvoice" parameterType="pochacm.dto.Paging" resultType="int">
		<choose>
			<when test='keyword != null and (category == "Serial")'>	
				SELECT count(*) FROM purchase_invoice i
				WHERE i.purchase_invoice_serial LIKE '%'||#{keyword}||'%'
			</when>
			<when test='keyword != null and (category == "Brand")'>	
				SELECT count(*) FROM purchase_invoice i, brand b, items it
				WHERE i.item_num = it.item_num (+)
                          AND it.brand_num = b.brand_num (+)
					AND b.brand_name LIKE '%'||#{keyword}||'%'
			</when>
			<when test='keyword != null and (category == "Supplier")'>	
				SELECT count(*) FROM purchase_invoice i, supplier sup
				WHERE i.supplier_num = sup.supplier_num (+)
					AND sup.supplier_name LIKE '%'||#{keyword}||'%'
			</when>
			<when test='keyword != null and (category == "Date")'>	
				SELECT count(*) FROM purchase_invoice i
				WHERE i.purchase_invoice_date LIKE '%'||#{keyword}||'%'
			</when>
			<when test='keyword != null and (category == "Writer")'>	
				SELECT count(*) FROM purchase_invoice i, user_info u
				WHERE i.user_num = u.user_num (+)
					AND u.user_name LIKE '%'||#{keyword}||'%'
			</when>
			<otherwise>
				SELECT count(*) FROM purchase_invoice i
			</otherwise>
		</choose>
	</select>
	
	<select id="selectAllInvoice" resultType="hashmap" parameterType="pochacm.dto.Paging">
		SELECT * FROM (
			SELECT ROWNUM rnum, iii.*
			FROM (
				SELECT inv.*, ui.user_name, isk.tp
				FROM purchase_invoice inv, user_info ui, (
			   		SELECT ii.purchase_invoice_num, SUM(ii.qty *  it.unit_price) tp
			    	FROM purchase_invoice_item ii, items it
			    	WHERE ii.item_num = it.item_num (+)
			    	GROUP BY ii.purchase_invoice_num
			    ) isk
				WHERE inv.user_num = ui.user_num (+)
			    	AND inv.purchase_invoice_num = isk.purchase_invoice_num (+)
				ORDER BY purchase_invoice_date DESC
			) iii
			ORDER BY rnum
		)
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<select id="selectItemsByInvoiceSerial" parameterType="pochacm.dto.PurchaseInvoice" resultType="hashmap">
		SELECT * FROM (
		    SELECT ROWNUM rnum, iii.*
		    FROM(
		        SELECT it.*,ii.purchase_invoice_num,ii.qty,ii.purchase_invoice_item_num,ou.order_unit, b.brand_name, c.cate_name, inv.purchase_invoice_serial
		        FROM items it, purchase_invoice_item ii, order_unit ou, brand b, category c, purchase_invoice inv
		        WHERE ii.purchase_invoice_num = inv.purchase_invoice_num (+)
		        	AND inv.purchase_invoice_serial = #{purchaseInvoiceSerial}
		            AND ii.item_num =  it.item_num (+)
		            AND it.order_unit_num = ou.order_unit_num (+)
		            AND it.brand_num = b.brand_num (+)
		            AND it.cate_num = c.cate_num (+)
		        ORDER BY ii.purchase_invoice_item_num asc
		    )iii
		    ORDER BY rnum
		)
	</select>
	
	<select id="selectMenuSearchList" parameterType="pochacm.dto.Recipe" resultType="hashmap">
		SELECT recipe_num, recipe_name, recipe_price, classification FROM recipe
		WHERE recipe_name LIKE '%' || #{recipeName} || '%'
		ORDER BY recipe_name
	</select>
	
	<delete id="deleteInvoice" parameterType="pochacm.dto.PurchaseInvoice">
		DELETE purchase_invoice
		WHERE purchase_invoice_num = #{purchaseInvoiceNum}
	</delete>
	
	<select id="selectAllBrand" resultType="pochacm.dto.Brand">
		SELECT * FROM BRAND
		ORDER BY BRAND_NUM
	</select>
	
	<select id="selectAllSupplier" resultType="pochacm.dto.Supplier">
		SELECT * FROM Supplier
		ORDER BY Supplier_NUM
	</select>
	
	<select id="selectAllOrderUnit" resultType="pochacm.dto.OrderUnit">
		SELECT * FROM order_unit
		ORDER BY order_unit_NUM
	</select>
	
	<select id="selectAllCategory" resultType="pochacm.dto.Category">
		SELECT * FROM CATEGORY
		ORDER BY CATE_NUM
	</select>
	
	<select id="selectItemSearchList" resultType="pochacm.dto.Items">
		SELECT * FROM ITEMS
		WHERE ITEM_NAME LIKE '%' || #{itemName}  || '%'
		ORDER BY ITEM_NUM
	</select>
	
	<select id="selectItemCodeSearchList" resultType="pochacm.dto.Items">
		SELECT * FROM items
		WHERE ITEM_CODE LIKE '%' || #{itemCode}  || '%'
		ORDER BY ITEM_NUM
	</select>
	
	<select id="selectInvoiceInfoByInvoiceSerial" resultType="hashmap">
		SELECT inv.*, ui.user_name ,sup.supplier_name
		FROM purchase_invoice inv, user_info ui, supplier sup
		WHERE inv.purchase_invoice_serial= #{purchaseInvoiceSerial}
			AND inv.user_num = ui.user_num (+)
			AND inv.supplier_num = sup.supplier_num (+)
	</select>
	
	<delete id="deleteInvoiceItemByNum" parameterType="pochacm.dto.PurchaseInvoiceItem">
		DELETE purchase_invoice_item
		WHERE purchase_invoice_item_num = #{invoiceItemNum}
	</delete>
	
	<select id="selectInvoiceItemByInvoiceNum" parameterType="pochacm.dto.PurchaseInvoiceItem" resultType="int">
		SELECT count(*) cnt FROM purchase_invoice_item
		where purchase_invoice_num = #{purchaseInvoiceNum}
	</select>
	
	<insert id="insertItemInfo" parameterType="pochacm.dto.Items" useGeneratedKeys="true" keyProperty="itemNum" keyColumn="ITEM_NUM">
		INSERT INTO items ( ITEM_NUM, ITEM_CODE, ITEM_NAME, BRAND_NUM, CATE_NUM, ORDER_UNIT_NUM, UNIT_PRICE, USER_NUM, LAST_UPDATE_DATE )
		VALUES (items_num_seq.nextval, #{itemCode},#{itemName},#{brandNum},#{cateNum},#{orderUnitNum},#{unitPrice},#{userNum}, SYSDATE)
	</insert>
	
	<insert id="insertInvoiceInfo" parameterType="pochacm.dto.PurchaseInvoice" useGeneratedKeys="true" keyProperty="invoiceNum" keyColumn="purchase_invoice_num">
		INSERT INTO purchase_invoice ( purchase_invoice_NUM, purchase_invoice_SERIAL, USER_NUM, purchase_invoice_DATE, SUPPLIER_NUM)
		VALUES ( purchase_invoice_NUM_SEQ.nextval, #{purchaseInvoiceSerial},#{userNum},#{purchaseInvoiceDate},#{supplierNum} )
	</insert>
	
	<insert id="insertInvoiceAndItemInfo" parameterType="pochacm.dto.PurchaseInvoiceItem">
		INSERT INTO purchase_invoice_item ( purchase_invoice_item_num, purchase_invoice_NUM, ITEM_NUM, QTY)
		VALUES ( PURCHASE_INVOICE_ITEM_NUM_SEQ.nextval, #{purchaseInvoiceNum}, #{itemNum},#{qty} )
	</insert>
	
	<select id="selectSupplierNameBySupplierNum" parameterType="pochacm.dto.PurchaseInvoice" resultType="String">
		SELECT supplier_name
		FROM supplier
		where supplier_num = #{supplierNum}
	</select>
	
	<select id="selectItemListByInvoiceSerial" parameterType="pochacm.dto.PurchaseInvoice" resultType="hashmap">
		SELECT * FROM (
			SELECT rownum rnum, iiii.*
			FROM (
				SELECT i.* , ii.qty, ii.purchase_invoice_item_num
				FROM items i, purchase_invoice_item ii, purchase_invoice inv
				WHERE ii.purchase_invoice_NUM = inv.purchase_invoice_NUM (+)
					AND ii.ITEM_NUM = i.ITEM_NUM (+)
					AND inv.purchase_invoice_SERIAL = #{purchaseInvoiceSerial}
				ORDER BY i.ITEM_NUM asc
			) iiii
			ORDER BY rnum
		)
	</select>
	<update id="updateInvoiceInfo" parameterType="pochacm.dto.PurchaseInvoice">
		UPDATE purchase_invoice
		SET purchase_invoice_SERIAL=#{purchaseInvoiceSerial}, 
			USER_NUM=#{userNum}, 
			purchase_invoice_DATE=#{purchaseInvoiceDate}, 
			SUPPLIER_NUM=#{supplierNum}
		where purchase_invoice_num = #{purchaseInvoiceNum}
	</update>
	
	<insert id="insertInvoiceItemInfo" parameterType="pochacm.dto.PurchaseInvoiceItem" useGeneratedKeys="true" keyProperty="purchaseInvoiceItemNum" keyColumn="purchase_invoice_item_num">
		INSERT INTO purchase_invoice_item (purchase_invoice_ITEM_NUM, purchase_invoice_num, ITEM_NUM, QTY)
		VALUES (PURCHASE_invoice_item_num_seq.nextval,#{purchaseInvoiceNum},#{itemNum},#{qty})
	</insert>
	
	<update id="updateInvoiceItemInfo" parameterType="pochacm.dto.PurchaseInvoiceItem">
		UPDATE purchase_invoice_item
		SET QTY = #{qty}
		where purchase_invoice_NUM = #{purchaseInvoiceNum}
			AND ITEM_NUM = #{itemNum}
	</update>
	
	<select id="selectInvoiceItem" parameterType="pochacm.dto.PurchaseInvoiceItem" resultType="int">
		SELECT count(*) cnt FROM purchase_invoice_item
		WHERE purchase_invoice_NUM = #{purchaseInvoiceNum}
			AND ITEM_NUM = #{itemNum}
	</select>
</mapper>