<?xml version="1.0" encoding="UTF-8"?>

<!--  마이바티스 3 Mapper DOCTYPE -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="pochacm.dao.face.SalesDao">

	<select id="selectCntAllSales" parameterType="pochacm.dto.Paging" resultType="int">
		SELECT count(*) FROM sales s
	</select>
	
	<insert id="insertSales" parameterType="pochacm.dto.Sales" >
		INSERT INTO sales(sales_num, user_num, recipe_num, sales_date, sales_qty, sales_source_num)
		VALUES (sales_Num_seq.nextval, #{userNum}, #{recipeNum}, #{salesDate}, #{salesQty}, #{salesSourceNum})
	</insert>
	
	<select id="getSalesSourceList" resultType="hashmap">
		SELECT sales_source_num, sales_source_name 
		FROM sales_source
		ORDER BY sales_source_num
	</select>
	
	<select id="selectMenuBymenuName" parameterType="hashmap" resultType="pochacm.dto.Recipe">
		SELECT recipe_num, recipe_name, recipe_price, classification
		FROM recipe
		WHERE recipe_name = #{recipeName}
	</select>
	
	<select id="selectAllSales" resultType="hashmap" parameterType="pochacm.dto.Paging">
		SELECT * FROM (
			SELECT rownum rnum, p.* 
				FROM(
				    ( SELECT *
				    FROM (
				        SELECT s.sales_date, s.sales_source_num, u.user_name, 
				        	SUM(s.sales_qty * r.recipe_price) tp, SUM(SUM(s.sales_qty * r.recipe_price)) OVER (PARTITION BY sales_date) AS TOTAL
				        FROM sales s, user_info u, recipe r
				        WHERE s.user_num = u.user_num (+)
				            AND s.recipe_num = r.recipe_num(+)
				        GROUP BY s.sales_date, s.sales_source_num, u.user_name
				    )
				    PIVOT (
				        SUM(TP) FOR sales_source_num IN (
				            1 as nvl1, 2 as nvl2, 3 as nvl3, 4 as nvl4, 5 as nvl5, 6 as nvl6, 7 as nvl7, 8 as nvl8
				        )
				    ) 
				    ORDER BY sales_date DESC ) p
				)
			) srp
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
		ORDER BY rnum
	</select>
	
	<select id="selectSalesListBySalesDate" parameterType="String" resultType="hashmap">
		SELECT * FROM (
			SELECT rownum rnum, rsrs.* FROM (
				SELECT s.*, ss.sales_source_name, u.user_name, r.recipe_name, r.recipe_price, (r.recipe_price * s.sales_qty) tp
				FROM sales s, user_info u, recipe r, sales_source ss
				WHERE sales_date LIKE '%' ||  TO_DATE(#{salesDate}, 'yyyy-mm-dd') || '%'
					AND s.recipe_num = r.recipe_num(+)
					AND s.user_num = u.user_num(+)
		            AND s.sales_source_num = ss.sales_source_num (+)
				ORDER BY s.sales_date DESC, s.sales_source_num ASC, s.recipe_num ASC ) rsrs
			order by rnum
		)
	</select>
	
	<delete id="deleteSalesBySalesNum" parameterType="pochacm.dto.Sales">
		DELETE sales 
		WHERE sales_num = #{salesNum}
	</delete>
	
	<select id="cntSalesBySalesDate" parameterType="pochacm.dto.Sales" resultType="int">
		SELECT count(*) FROM SALES
		WHERE sales_date = #{salesDate}
	</select>
	
	<select id="getSalesBySalesNum" parameterType="pochacm.dto.Sales" resultType="hashmap">
		SELECT * FROM sales s, user_info u, recipe r, sales_source ss
		WHERE sales_num = #{salesNum}
			AND s.user_num = u.user_num (+)
			AND s.recipe_num = r.recipe_num (+)
			AND s.sales_source_num = ss.sales_source_num (+)
	</select>
	
	<select id="getAllSalesBySalesDate" parameterType="pochacm.dto.Sales" resultType="hashmap">
		SELECT * FROM(
			SELECT rownum rnum, sss.*
			FROM (
				SELECT s.sales_num, s.sales_date, s.sales_qty, u.user_name, r.*, ss.* 
				FROM sales s, user_info u, recipe r, sales_source ss
				WHERE sales_date = #{salesDate}
					AND s.user_num = u.user_num (+)
					AND s.recipe_num = r.recipe_num (+)
					AND s.sales_source_num = ss.sales_source_num (+)
				ORDER BY s.sales_num ) sss
		)
		ORDER BY rnum ASC
	</select>
	
</mapper>