<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="pochacm.dao.face.UserDao">

	<select id="selectCntByEmail" parameterType="pochacm.dto.User" resultType="int">
		SELECT count(*) FROM user_info
		WHERE user_email = #{userEmail }
	</select>
	
	<select id="selectCntByPhone" parameterType="pochacm.dto.User" resultType="int">
		SELECT count(*) FROM user_info
		WHERE user_phone = #{userPhone }
	</select>
	
	<insert id="InsertUserInfo" parameterType="pochacm.dto.User">
		INSERT INTO user_info (
			user_num, user_email, user_password, user_name, user_gender,
			user_phone, date_of_birth, branch_num, position_num, work_start_date,
			emer_name, emer_phone, tax_file_check, tax_file_num, bsb_num, bank_account_num,
			sa_fund_name, sa_fund_num, address_l1, address_l2, address_state,
			address_sub, address_postcode, terms_agree, sign_up_date, user_activate
		) VALUES (
			user_num_seq.nextval, #{userEmail}, #{userPassword}, #{userName}, #{userGender},
			#{userPhone}, #{dateOfBirth}, #{branchNum}, #{positionNum}, #{workStartDate},
			#{emerName}, #{emerPhone}, #{taxFileCheck}, #{taxFileNum }, #{bsbNum}, #{bankAccountNum},
			#{saFundName}, #{saFundNum}, #{addressL1}, #{addressL2},
			#{addressState}, #{addressSub}, #{addressPostCode },
			#{termsAgree}, SYSDATE, #{userActivate}
		)
	</insert>
	
	<select id="selectIdAndPw" parameterType="pochacm.dto.User" resultType="int">
		SELECT count(*) FROM user_info
		WHERE user_email = #{userEmail } and user_password = #{userPassword }
	</select>
	
	<select id="getUserNoByEmail" parameterType="pochacm.dto.User" resultType="int">
		SELECT user_num FROM user_info
		WHERE user_email = #{userEmail}
	</select>
	
	<select id="selectPositionByEmail" parameterType="pochacm.dto.User" resultType="int">
		SELECT position_num FROM user_info
		WHERE user_email = #{userEmail}
	</select>
	<select id="getAllPosition" resultType="hashmap">
		SELECT position_num, position_name 
		FROM position
		ORDER BY position_num
	</select>
	<select id="getAllBranch" resultType="hashmap">
		SELECT branch_num, branch_name, branch_address, branch_phone
		FROM branch
		ORDER BY branch_num
	</select>
	
	<select id="selectUserValidationByEmail" parameterType="pochacm.dto.User" resultType="int">
		SELECT validation_by_sup FROM user_info
		WHERE user_email = #{userEmail}
	</select>
	
	<select id="selectUserByUserNum" parameterType="pochacm.dto.User" resultType="hashmap">
		SELECT user_name,user_email,user_phone,branch_name,position_name 
		FROM user_info u, branch b, position p
		WHERE user_num = #{userNum}	
			AND u.branch_num = b.branch_num (+)
			AND u.position_num = p.position_num (+)
	</select>
	<select id="selectUserByUserNumAndPW" parameterType="pochacm.dto.User" resultType="int">
		SELECT count(*) FROM user_info
		WHERE user_num = #{userNum }
			AND user_password = #{userPassword }
	</select>
</mapper>